{% load static %}
{% load staticfiles %}

<!doctype html>  
<html>  

    <head>  

		<meta charset="utf-8" /> 

		<title>Plantilla en blanco</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   		<link rel="stylesheet" href="{% static 'css/app.css' %}">



	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	  <script src="http://notoyontoy.site40.net/Js/jquery.infinitecarousel3.min.js"></script>
	  <script type="text/javascript" src="http://notoyontoy.site40.net/Js/easing.js"></script>
	  <script>
	     var a = jQuery.noConflict();
	        a(document).ready(function() {
	        a('#carousel').infiniteCarousel({
	           transitionSpeed:12000,     /*Tiempo de avance de las imagenes*/
	           displayTime: 2000,   /* El tiempo en milisegundos para hacer pausa*/
	           thumbnailType: 'false',
	           customClass: 'myCarousel',
	           easeLeft: 'linear',
	           easeRight:'linear',
	           inView: 1,    /*Imagenes mostradas*/
	           advance: true,
	           autoPilot: true,
	           displayProgressRing: true,    /*muestra grafica del tiempo que pausa la imagen*/
	});
	 });
	</script>

    </head>



    <body>  
		<header>
			
			<div class="cabecera" style="background: url('{% static "imagen/fondo.png" %}') top left no-repeat; background-size: 100% 100%;">
				
				<div class="contra_menu"></div>
				
				<div class="menu">
					<nav>
						<ul>
						    <li><a title="Contactanos" href='{% url 'contacto' %}'>Contactanos</a></li>
						    <li><a title="Quienes Somos" href='{% url 'quienes_somos' %}'>Quienes Somos</a></li>
						    <li><a title="Productos" href='{% url 'productos' %}'>Productos</a></li>
						    <li><a title="Inicio" href='{% url 'inicio' %}'>Inicio</a></li>

						</ul>
					</nav>
				</div>
			</div>

		</header>

		<div class="tabla">
			<div class="columna">
				
			</div>
			
			<div class="cuerpo_contenido">

				{% block contenido %}{% endblock %}

			</div>

			<div class="columna">
				
			</div>

		</div>
		
		<footer>
			<div class="pies">
			</div>		
		</footer>
    </body>

</html>